---
import BaseHead from '../components/Basehead.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

import Card from '../components/Card.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<head>
	
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>



<Header title={SITE_TITLE} />


<Layout title="Goodlander Experience Training(GET)">
	<main>
	<div class="MainList">
		
		<ul role="list" class="link-card-grid">
			<Card
				href="https://getprograms.xyz"
				title="GET Programs .xyz"
				body=""
			/>
			<Card
				href="https://getcommunity.xyz"
				title="GET Community .xyz"
				body=""
			/>
			<Card
				href="https://getcounseling.xyz"
				title="GET  Counseling .xyz"
				body=""
			/>
			<Card
				href="https://getconsulting.xyz"
				title="GET Consulting .xyz"
				body=" "
			/>
			
		</ul>
	</div>
	</main>
</Layout>
<Footer>slot</Footer>
</body>


<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #151516, #d5ccd3);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-image: url("/YXZBackground.jpg");
		background-color: var(--color-bg);
		background-position: 45% 5%;
		
	}
	
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.MainList{ 
    color: rgb(247, 245, 243);
    padding: 0.80em;
    background-color: fffff;
    margin: 2px;
    font-size: 25px;
    line-height: 0.6em;
  } 
	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 18s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: rgb(90, 87, 87);
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-title);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
	    gap: 1rem;
		padding: 0;
		
	}
</style>
