


<div class="instructions">
			
    <center>Copyright: GET 2022 Morgan Goodlander, <code>morgan@getraining.net</code><br /></center>
    
</div>

<style>

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.instructions {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.775em;
    line-height: 0.3;
    margin: 0rem 0;
    background: rgb(189, 25, 25);
    padding: 1rem;
    border-radius: 0.0rem;
    color: var(--color-title);
}

.instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 0px;
    padding: 0.15em 0.25em;
}</style>
