
<div class ="topbar"; >
    
    
</div>

<div class ="plack">
  <center><img src="GET-logo.png" alt="Girl in a jacket" width="200" height="200"></center>
  <center><h3>Goodlander Experience Training<span class="text-gradient"> </span></h3></center>
  <center><h4>Altering Our Experience of Being in the World<span class="text-gradient"> </span></h4></center>
  </div>

<style>     

.topbar{ 
    color: rgb(98, 137, 227);
    background-color: fffff;
    margin: 2px;
    padding: 0.5em;
    font-size: 15px;
  }

.plack{ 
    color: rgb(243, 241, 237);
    background-color: fffff;
    margin: 2px;
    font-size: 25px;
    line-height: 0.6em;
  } 



h4 {
    font-size: 1.0rem;
}

</style>